Source: fiji
Section: graphics
Priority: extra
Maintainer: Mark Longair <mhl@pobox.com>
Build-Depends: debhelper (>= 5), gcc, lsb-release, dpkg-dev, openjdk-6-jdk, libjama-java (>= 1.0.2), ant, ant-optional, bsh, libbatik-java
Standards-Version: 3.7.2

Package: fiji
Section: graphics
Architecture: any
Depends: libc6, libstdc++6, openjdk-6-jre, libjama-java (>= 1.0.2), ant, ant-optional, bsh, libbatik-java
Replaces: imageja (<< 0.9.1), imageja-doc (<< 0.9.1), fiji-plugins (<< 0.9.1), trakem2 (<< 0.9.1)
Conflicts: imageja (<< 0.9.1), imageja-doc (<< 0.9.1), fiji-plugins (<< 0.9.1), trakem2 (<< 0.9.1)
Description: The Fiji image processing suite (based on ImageJ)
 Fiji is a project aiming at simplifying:
    * the installation of ImageJ
    * the usage of ImageJ
    * the usage of specific, powerful ImageJ plugins
    * the development of plugins using ImageJ
 For more information please visit http://pacific.mpi-cbg.de/
