#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_BUILD_ARCH := $(shell dpkg-architecture -qDEB_BUILD_ARCH)

CWD := $(shell pwd)

JRE_SUBMODULE_I386 := java/linux/
JRE_SUBMODULE_AMD64 := java/linux-amd64/

JRE_PREFIX_I386 := linux/jdk1.6.0_06/
JRE_PREFIX_AMD64 := linux-amd64/jdk1.6.0_04/

ifeq ($(DEB_BUILD_ARCH),i386)
JRE_SUBMODULE := $(JRE_SUBMODULE_I386)
JRE_PREFIX := $(JRE_PREFIX_I386)
RELATIVE_JAVA3D_JARS := ext/j3dcore.jar ext/j3dutils.jar ext/vecmath.jar
RELATIVE_JAVA3D_LIBRARIES := i386/libj3dcore-ogl-cg.so i386/libj3dcore-ogl.so
BUNDLED_JAVA_LIB := java/$(JRE_PREFIX_I386)jre/lib/
NEW_LD_LIBRARY_PATH := /usr/lib/fiji/$(BUNDLED_JAVA_LIB)i386/
else
ifeq ($(DEB_BUILD_ARCH),amd64)
JRE_SUBMODULE := $(JRE_SUBMODULE_AMD64)
JRE_PREFIX := $(JRE_PREFIX_AMD64)
RELATIVE_JAVA3D_JARS := ext/j3dcore.jar ext/j3dutils.jar ext/vecmath.jar
RELATIVE_JAVA3D_LIBRARIES := amd64/libj3dcore-ogl.so
BUNDLED_JAVA_LIB := java/$(JRE_PREFIX_AMD64)jre/lib/
NEW_LD_LIBRARY_PATH := /usr/lib/fiji/$(BUNDLED_JAVA_LIB)amd64/
else
JRE_PREFIX := linux/unknown/
endif
endif

BUNDLED_JAVA3D_LIBRARIES := $(patsubst %,$(BUNDLED_JAVA_LIB)%,$(RELATIVE_JAVA3D_LIBRARIES))
INSTALLED_BUNDLED_JAVA3D_LIBRARIES_SPACE_SEPARATED := $(patsubst %,/usr/lib/fiji/%,$(BUNDLED_JAVA3D_LIBRARIES))
INSTALLED_BUNDLED_JAVA3D_LIBRARIES := $(shell echo $(INSTALLED_BUNDLED_JAVA3D_LIBRARIES_SPACE_SEPARATED) | sed 's/ /:/g')

BUNDLED_JAVA3D_JARS := $(patsubst %,$(BUNDLED_JAVA_LIB)%,$(RELATIVE_JAVA3D_JARS))
INSTALLED_BUNDLED_JAVA3D_JARS_SPACE_SEPARATED := $(patsubst %,/usr/lib/fiji/%,$(BUNDLED_JAVA3D_JARS))
INSTALLED_BUNDLED_JAVA3D_JARS := $(shell echo $(INSTALLED_BUNDLED_JAVA3D_JARS_SPACE_SEPARATED) | sed 's/ /:/g')

JAVA3D_JARS_SPACE_SEPARATED := $(patsubst %,$(CWD)/%,$(BUNDLED_JAVA3D_JARS))
JAVA3D_JARS := $(shell echo $(JAVA3D_JARS_SPACE_SEPARATED) | sed 's/ /:/g')

INSTALLED_JVM_ROOT := /usr/lib/jvm/java-6-sun/

VERSION_IN_CHANGELOG=$(shell dpkg-parsechangelog | egrep ^Version: | sed "s/Version: //")
PACKAGE_IN_CHANGELOG=$(shell dpkg-parsechangelog | egrep ^Source: | sed "s/Source: //")

CWD_BASENAME=$(shell basename `realpath .`)
REQUIRED_DIRECTORY_NAME=${PACKAGE_IN_CHANGELOG}-${VERSION_IN_CHANGELOG}

prebuild-actions :
	if test $(CWD_BASENAME) != $(REQUIRED_DIRECTORY_NAME); then \
		echo "Warning: the current directory name ($(CWD_BASENAME)) does not match" && \
		echo "the package name and version in the new changelog." && \
		echo "Rename this directory to: $(REQUIRED_DIRECTORY_NAME)" && \
		false; fi
	if test x$$(ls -1 java/ | wc -l) != x2; then \
		echo "You have more than two subdirectories of java/." && \
		echo "Most likely you have submodules other than java/linux and java/linux-amd64" && \
		echo "in that directory; remove them or you'll end up with a gigantic source" && \
		echo "package." && \
		false; fi
	if test x$$(find java -name '*.jar' | wc -l) != x6; then \
		echo "You don't have exactly three .jar files under java/" && \
		echo "This indicates that one of the submodules isn't on" && \
		echo "the just-java3d branch" && \
		false; fi
	rm -rfv java/$(JRE_PREFIX_I386)jre/.systemPrefs
	rm -rfv java/$(JRE_PREFIX_AMD64)jre/.systemPrefs

# This has to be exported to make some magic below work.
export DH_OPTIONS

INDEP_STAMPS=

ARCH_STAMPS=fiji-packarch-stamp

configure : configure-stamp

configure-stamp :
	dh_testdir
	touch configure-stamp

build : prebuild-actions build-arch build-indep

build-arch : build-arch-stamp

build-arch-stamp : configure-stamp
	JAVA_HOME=$(INSTALLED_JVM_ROOT) sh -x Fake.sh "CLASSPATH(plugins/VIB_.jar)=$(JAVA3D_JARS)" "CLASSPATH(plugins/TrakEM2_.jar)=plugins/VIB_.jar:$(JAVA3D_JARS)"
	touch $@

build-indep : build-indep-stamp

build-indep-stamp : configure-stamp
	touch $@

clean : prebuild-actions
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp install-arch-stamp install-indep-stamp
	rm -f $(INDEP_STAMPS) $(ARCH_STAMPS)
	JAVA_HOME=$(INSTALLED_JVM_ROOT) sh -x Fake.sh clean
	rm -f fjij fiji.o
	dh_clean

install : install-indep-stamp install-arch-stamp

install-indep-stamp : build-indep-stamp
	dh_testdir
	dh_testroot
	dh_clean -k -i
	dh_installdirs -i
	# $(MAKE) DESTDIR=$(CURDIR)/debian/fiji install-fiji
	dh_install -i
	touch install-indep-stamp

DESTDIR=$(CURDIR)/debian/fiji

install-arch-stamp : build-arch-stamp
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs -s
	install -d $(DESTDIR)/usr/bin/
	install -d $(DESTDIR)/usr/lib/fiji/
	install -m 755 fiji $(DESTDIR)/usr/lib/fiji/
	< debian/simple-launcher sed \
		-e 's,@@INSTALLED_JVM_ROOT@@,$(INSTALLED_JVM_ROOT),' \
		-e 's,@@JAVA_3D_JARS@@,$(INSTALLED_BUNDLED_JAVA3D_JARS),' \
		-e 's,@@LD_LIBRARY_PATH@@,$(NEW_LD_LIBRARY_PATH),' > $(DESTDIR)/usr/bin/fiji
	chmod 755 $(DESTDIR)/usr/bin/fiji
	cp -rv plugins $(DESTDIR)/usr/lib/fiji/
	cp -rv jars $(DESTDIR)/usr/lib/fiji/
	cp -rv macros $(DESTDIR)/usr/lib/fiji/
	cp -rv images $(DESTDIR)/usr/lib/fiji/
	install -d $(DESTDIR)/usr/lib/fiji/$(JRE_SUBMODULE)
	cp -rv java/$(JRE_PREFIX) $(DESTDIR)/usr/lib/fiji/$(JRE_SUBMODULE)
	install -d $(DESTDIR)/usr/share/doc/fiji/
	install -m 644 ij.jar $(DESTDIR)/usr/lib/fiji/
	install -m 644 LICENSES $(DESTDIR)/usr/share/doc/fiji/
	install -m 644 NOTES $(DESTDIR)/usr/share/doc/fiji/
	install -m 644 README $(DESTDIR)/usr/share/doc/fiji/
	install -m 644 TODO $(DESTDIR)/usr/share/doc/fiji/
	install -d $(DESTDIR)/usr/share/pixmaps/
	install -m 644 images/fiji-icon-16x16.xpm $(DESTDIR)/usr/share/pixmaps/
	install -m 644 images/fiji-icon-32x32.xpm $(DESTDIR)/usr/share/pixmaps/
	install -d $(DESTDIR)/usr/share/applications/
	install -m 644 debian/fiji.desktop $(DESTDIR)/usr/share/applications/
	dh_install -s
	touch install-arch-stamp

%-packindep-stamp : build-indep-stamp install-indep-stamp
	dh_testdir -p$*
	dh_testroot -p$*
	dh_installchangelogs -p$*
	dh_installdocs -p$*
	dh_installexamples -p$*
	dh_installmenu -p$*
#	dh_installdebconf	 -p$*
#	dh_installlogrotate	 -p$*
#	dh_installemacsen -p$*f
#	dh_installpam -p$*
#	dh_installmime -p$*
#	dh_python -p$*
#	dh_installinit -p$*
#	dh_installcron -p$*
#	dh_installinfo -p$*
	dh_installman -p$*
	dh_link -p$*
	dh_strip -p$*
	dh_compress  -p$*
	dh_fixperms -p$*
#	dh_perl -p$*
#	dh_makeshlibs -p$*
	dh_installdeb -p$*
#	dh_shlibdeps -p$*
	dh_gencontrol -p$*
	dh_md5sums -p$*
	dh_builddeb -p$*
	touch $@

# Build architecture independant packages using the common target.
binary-indep : $(INDEP_STAMPS)

%-packarch-stamp : build-arch-stamp install-arch-stamp
	dh_testdir -p$*
	dh_testroot -p$*
	dh_installchangelogs -p$*
	dh_installdocs -p$*
	dh_installexamples -p$*
	dh_installmenu -p$*
#	dh_installdebconf	 -p$*
#	dh_installlogrotate	 -p$*
#	dh_installemacsen -p$*
#	dh_installpam -p$*
#	dh_installmime -p$*
#	dh_python -p$*
#	dh_installinit -p$*
#	dh_installcron -p$*
#	dh_installinfo -p$*
	dh_installman -p$*
	dh_link -p$*
	dh_strip -p$*
	dh_compress  -p$*
	dh_fixperms -p$*
#	dh_perl -p$*
#	dh_makeshlibs -p$*
	dh_installdeb -p$*
#	dh_shlibdeps -p$*
	dh_gencontrol -p$*
	dh_md5sums -p$*
	dh_builddeb -p$*
	touch $@

# Build architecture dependant packages using the common target.
binary-arch : $(ARCH_STAMPS)

binary : binary-arch binary-indep

.PHONY : build clean binary-indep binary-arch binary install install-indep install-arch configure prebuild-actions
