Plugins>Segmentation, "Fit two-circle shape", fiji.plugin.constrainedshapes.Two_Circle_Fitter
Image>Annotate, "Two-circle ROI", fiji.plugin.constrainedshapes.TwoCircleTool
Plugins>Segmentation, "Snapping circles", fiji.plugin.constrainedshapes.SnappingCircleTool
Plugins>Segmentation, "Snapping ellipses", fiji.plugin.constrainedshapes.SnappingEllipseTool
Plugins>Utilities>Debugging, "Two-circle test image", fiji.plugin.constrainedshapes.Test_Image
