# A collection of single-shot plugins for fiji

Image>Adjust, "RGB Contrast Adjuster", fiji.utilities.RGB_Contrast_Adjuster

# Radial_Reslice
Image>Stacks, "Radial Reslice", fiji.stacks.Radial_Reslice

# Dynamic_Reslice, implement Reslice command, but auto-update when ROI is moved   
Image>Stacks, "Dynamic Reslice", fiji.stacks.Dynamic_Reslice

Edit>Selection, "Fit Circle to Image", fiji.utilities.Circle_Fitter

Help, "Upload Sample Image", fiji.utilities.Fiji_Uploader

Help, "CurrentSlice", fiji.utilities.Current_Slice
