# Volume Calculator
#	Using the output of the plugin AnalyzeSkeleton_, this 
#   plugin allows the user to select a section of a skeletonized
#   image and get the volume in units or voxels from the
#   original, pre-skeletonized image.
#   This plugin is displayed within a 3D_Viewer and retains all
#   this plugin's menus.
#
# Author: Peter C Marks

Plugins>Volume Calculator, "Get the volume of a section of a pre-skeletonized image", volumeCalculator.Volume_Calculator

